<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fit.main" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application android:icon="@drawable/plano_treino"
		android:label="@string/app_name">
		
		<uses-library android:name="com.google.android.maps"/>
		
		<activity android:name=".login" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".menu" android:label="@string/app_name"></activity>
		<activity android:name=".plano_treino" android:label="@string/app_name"></activity>
		<activity android:name=".listar_planos" android:label="@string/app_name"></activity>
		<activity android:name=".perfil" android:label="@string/app_name"
			android:noHistory="true"></activity>
		<activity android:name=".editarPerfil" android:label="@string/app_name"
			android:noHistory="true"></activity>
		<activity android:name=".list_notif" android:label="@string/app_name"></activity>
		<activity android:name=".ver_notif" android:label="@string/app_name"></activity>
		<activity android:name=".map" android:label="@string/app_name"></activity>

	</application>
</manifest>